[Unit]
Description=Bynd9 service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=notify
ExecStart=/bynd9/net7/dotnet Bynd9.dll
WorkingDirectory=/bynd9/Bynd9/
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target